{% extends 'blog/surround_element.html' %}
{% load static %}
{% block title %}{{ title }}{% endblock %}

{% block page_content %}
        <div class="col-md-8">
            {% if posts %}
                <div class="row mb-2 justify-content-center">
                    {% for post in posts %}
                        <div class="col-md-11 p-1">
                            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative h-100 bg-white">
                                <div class="col p-4 d-flex flex-column position-static">
                                    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between">
                                        <div class="col-md-auto justify-content-center" >
                                            <strong class=" d-inline-block text-primary">{{ post.category.title }}</strong>
                                        </div>
                                        {% if user.id == post.author.id %}
                                        <div class="col-md-auto mb-1 justify-content-center text-end">
                                            <a class="text-decoration-none btn btn-outline-primary border-0 p-1 pt-0" href="{% url 'blog:edit' post.pk %}" >
                                                <img src="{% static 'icon/svg/fi-rr-pencil.svg' %}" width="15"
                                             height="15" role="img" title="Редактировать"></a>
                                            <a class="text-decoration-none btn btn-outline-primary border-0 p-1 pt-0" href="{% url 'blog:del' post.pk %}" >
                                                <img src="{% static 'icon/svg/fi-rr-cross.svg' %}" width="15"
                                             height="15" role="img" title="Удалить">
                                            </a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="inline-group text-decoration-none">
                                        <p class="d-inline-block mb-2 text-dark">{{ post.author.username }} </p>
                                        <p class="d-inline-block text-secondary">{{ post.date_pub|date:"d.M H:i" }}</p>
                                    </div>
                                    <div class="position-relative text-decoration-none text-dark btn btn-outline-light border-0 w-100 text-start mb-1">
                                        <h3 class="mb-0">{{ post.title }}</h3>
                                        <div class="mb-1 text-muted"></div>
                                        <p class="text-justify mb-auto h-50">{{ post.text|truncatechars:60 }}</p>
                                        <a href="{% url 'blog:detail' post.pk %}" class="stretched-link"></a>
                                    </div>
                                        <a>
                                            <img src="{% static 'icon/svg/fi-rr-comment.svg' %}" class="bi me-2" width="20"
                                                 height="20" role="img" title="Комментарии">
                                            {{ post.get_comment_counts }}
                                        </a>
                                </div>
                            </div>
                        </div>

                    {% endfor %}
                </div>

            {% else %}
                Нет статей
            {% endif %}

            {% if is_paginated %}
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li>
                            <a class="btn btn-outline-primary mx-4 mb-2 py-2 px-4"
                               href="?page={{ page_obj.previous_page_number }}">Back</a>
                        </li>
                    {% endif %}
                    {% for p in paginator.page_range %}

                        {% if page_obj.number == p %}
                            <li class="btn btn-outline-secondary mx-2 mb-2 py-2 px-3">{{ p }}</li>

                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <li>
                                <a class="btn btn-outline-primary mx-2 mb-2 py-2 px-2" href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% endif %}

                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li>
                            <a class="btn btn-outline-primary mx-4 mb-2 py-2 px-4"
                               href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
{% endblock %}