{% extends 'blog/surround_element.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
<div class="col-md-8 p-1">
    <div class="row mb-2 justify-content-center">
        <div class="col-md-11">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative bg-white">
                <div class="col p-4 d-flex flex-column position-static">
                    <div class="comment_body">
                        <h2> {{ post.title }}</h2>
                        {% if post.img_preview %}
                        <img class="img-fluid p-3" src="{{ post.img_preview.url }}" alt="lk">
                        {% endif %}
                        <pre>{{ post.text }}</pre>
                    </div>
                    <div class="text-end text-muted">
                        <small>{{ post.date_pub }}</small>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="border border-2 mb-2" style="border: solid"></div>
                <div id="comment" class="comment">
                    {% if comments %}
                    {% for comment in comments %}
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-white">
                        <div class="col p-4 d-flex flex-column position-static">
                            <div class="input-group mb-3">
                                <img src="{% static 'icon/svg/fi-rr-user.svg' %}"
                                     class="rounded float-start" style="height: 25px; width: 25px">
                                <h5 class="mb-0" style="margin-left: 10px">{{ comment.author }}</h5>
                            </div>
                            <p class="card-text mb-auto" style="
    word-break: break-all; padding-bottom: 10px">{{ comment.text }}</p>
                            <div class="text-end text-muted"><small>{{ comment.date_pub }}</small></div>
                        </div>

                    </div>
                    {% endfor %}
                    {% if is_paginated %}
                    <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li>
                            <a class="btn btn-outline-primary mx-4 mb-2 py-2 px-4"
                               href="?page={{ page_obj.previous_page_number }}">Back</a>
                        </li>
                    {% endif %}
                    {% for p in paginator.page_range %}

                        {% if page_obj.number == p %}
                            <li class="btn btn-outline-secondary mx-2 mb-2 py-2 px-3">{{ p }}</li>

                        {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2 %}
                            <li>
                                <a class="btn btn-outline-primary mx-2 mb-2 py-2 px-2" href="?page={{ p }}">{{ p }}</a>
                            </li>
                        {% endif %}

                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li>
                            <a class="btn btn-outline-primary mx-4 mb-2 py-2 px-4"
                               href="?page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
                    {% endif %}
                    {% else %}
                    Комментарии не найдены
                    {% endif %}
                </div>
            </div>
            <div class="container">
                <div class="border border-2 " style="border: solid"></div>
                {% if user.is_authenticated %}
                <form class="row g-3 mt-3" style="margin-bottom: 20px" action="{% url 'blog:add_comment' post.id %}"
                      method="post">
                    {% csrf_token %}
                    <div class="input-group m-1 px-4 py-2 rounded-2 bg-white w-auto border ">
                        <img src="{% static 'icon/svg/fi-rr-user.svg' %}"
                             class="rounded float-start" style="height: 25px; width: 25px">
                        <h5 class="mb-0" style="margin-left: 10px">{{ user.username }}</h5>
                    </div>
                    {% for field in form_comment %}

                    <div class="mb-3">

                        <label class="mb-2" for="address">{{ field.label_tag }}</label>
                        {{ field }}
                        <div class="invalid-feedback">
                            {% if field.errors %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                            {% endfor %}
                            {% endif %}
                        </div>

                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-secondary" style="max-width: 200px">Оставить коммент</button>
                </form>
                {% else %}
                <div class="justify-content-center text-center m-3">
                    <h3>Вы не вошли</h3>
                    <p>Только авторизованные пользователи могут оставить комментарий.</p>
                    <p>Войдите или зарегестрируйтесь</p>
                    <a href="{% url 'account:login' %}" type="button" class="btn btn-outline-primary me-2">Вход</a>
                    <a href="{% url 'account:registration' %}" class="btn btn-primary">Регистрация</a>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock %}