{% extends "base.html" %}
{% block title %}Подтверждение удаления{% endblock %}
{% block content %}
<div class="container">
    <div class="text-center pt-2 pb-5" style="">
        {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
        <form method="post" class="rounded-1 border-secondary border-1 w-50 text-center mx-auto my-2 "
              style="border-bottom: solid; width: auto">
            {% csrf_token %}
            <H1>Удалить статью '{{post.title}}'? </H1>
            <div class="justify-content-center p-3">
                <input class="btn btn-outline-success me-2" type="submit" value="Подтвердить">
                <a href="{% url 'home' %}" type="button" class="btn btn-outline-primary">Перейти домой</a>
            </div>
        </form>

        {% else %}
        <H1>Вы не являетесь владельцом статьи '{{post.title}}'? </H1>
        <div class="justify-content-center p-3">
            <a href="{% url 'home' %}" type="button" class="btn btn-outline-primary">Перейти домой</a>
        </div>
        {% endif %}
        {% else %}
        <div class="rounded-1 border-secondary border-1 w-25 text-center mx-auto my-2 "
             style="border-bottom: solid; width: auto">
            <H2>Требуется войти</H2>
        </div>
        <div class="justify-content-center p-3">
            <a class="btn btn-outline-primary"  href="{% url 'login' %}" type="button">Войти</a>
            <a href="{% url 'home' %}" type="button" class="btn btn-outline-primary">Перейти домой</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}