{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div id="cat_menu" class="col-md-2 p-1">
        <div>
            <div class="rounded-2">
                <div class="text-center">
                    <a>Категории</a>
                </div>
                <div class="m-1">
                    <ul class="list-unstyled">
                        {% for cat in category %}
                        <li class="p-0 w-auto" id="{{ cat.id }}">
                            <a type="button"
                               class="text-decoration-none text-dark btn btn-outline-light border-0 w-100 p-1"
                               href="{% url 'blog:cat_posts' cat=cat.id %}">
                                <p class="{% if cat.id == cat_select_id %}text-secondary{% endif %} mb-auto"
                                   style="line-height: 1rem">
                                    {{ cat.title }}
                                </p>
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% block page_content %}
    <div class="col-md-8">
        <div class="container">
            <p>Что то не так</p>
        </div>
    </div>
    {% endblock %}
    <div id="action_button" class="col-md-2 p-1">
        <div>
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-3 shadow-sm h-md-250 position-relative h-100 bg-white">
                <div class="text-center">
                     <div class="m-1">
                    <ul class="list-unstyled">
                        <li class="p-0 w-auto" id="my_page">
                            <a type="button"
                               class="text-decoration-none text-dark btn btn-outline-light border-0 w-100 p-1"
                               href="{% url 'account:account_detail' pk=user.id %}">
                                <p class="mb-auto"
                                   style="line-height: 1rem">
                                    Мой аккаунт
                                </p>
                            </a>
                        </li>
                        {% url 'blog:add_post' as the_url %}
                        {% if request.get_full_path != the_url %}
                        <li class="p-0 w-auto" id="add_article">
                            <a type="button"
                               class="text-decoration-none text-dark btn btn-outline-light border-0 w-100 p-1"
                               href="{% url 'blog:add_post' %}">
                                <p class="mb-auto"
                                   style="line-height: 1rem">
                                    Добавить статью
                                </p>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}